body{
    margin: 40px;   
    background-color: #cbd2d9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#ul-border{
padding-left: 10px;
padding-top: 10px;
padding-right: 20px;
padding-bottom: 40px;
height: 800px; 
background-color: white;   
border-radius: 25px;
border: light;
}
ul li{
    list-style-type: none;
}

exit{
overflow: hidden;
padding-left: 1550px;
position: absolute;
font-size: 35px;
}


#inside-line{
    border-bottom: solid 1.5px #dedede;
}

#inside-line-2{
    border-bottom: solid 1.5px #dedede;
}

#inside-line-3{
    border-bottom: solid 1.5px #dedede;
}

#row-spacing{
    
    padding-top: 30px;
    
}

.close {
    padding-left: 1700px;
    display: inline-block;
  }

  .button{
    text-align: right;
    display: inline-block;
    margin-left: 1390px;
    background-color: #89939e;
    padding : 8px 16px;
    border: 1px solid #89939e;
    border-radius: 5px;
}

.button2{
    margin-left: 1500px;
}

.button3{
    position: absolute;
    margin-left: 1350px;
}
.button4{
    position: absolute;
    margin-left: 1530px;
}